*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.name{
    position: absolute;
    top: 0;
    right: 2;
    font-size: 10;
    color: black;
}
.container{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: firs;
    border: 1px solid black;
}